<h1>Dogs are the best pets!</h1>

<%= button_to 'Add a Dog!', new_dog_path, method: :get %>

<% @dogs.each do |dog| %>
  <h3><strong><%= dog.breed %></strong></h3>
  <p><%= dog.description %></p>
  <br/>
<% end %>